@model IEnumerable<BookNest.Models.User>

<h2>User List</h2>

<table class="table">
    <thead>
        <tr>
            <th>User Name</th>
            <th>Email</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var user in Model)

        {
            <tr>
                <td>@user.UserName</td>
                <td>@user.Email</td>
            </tr>
        }
    </tbody>
</table>
